/* CSS declarations go here */
body {
    background-color:#566771 !important;
    font-family: sans-serif;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.container{
    background-color:#566771 ;
    min-width: 100%;
    min-height: 200%;
}

.userField{
    background: #566771;
    padding-left: 12%;

}
.logInButton{
    padding-top: 15%;
    text-align: center;

}

.usernameEmail{
    text-align: right;
    padding-right: 8px;

}



.usernameArea{
    user-input: false;
}

#title {
  padding-bottom: 20px;
  text-align: center;
}

#registration {
  padding-bottom: 10%;
  text-align: left;
}
#logo {
  padding-bottom: 20px;
  padding-left: 26%;
}
#uname{
    border: hidden;
    color: black;
    background: #6e7e8b;

}
#uname1{
    border: hidden;
    color: black;
    background: #566771;

}
#pass{
    border: hidden;
    background: #6e7e8b;
    color: black;
}

#register:hover {
	background-color: #4aa8e2;
}

#login:hover {
	background-color: #4aa8e2;
}

#login, #register{
    width: 190px;
    height: 40px;
    background: #328dc6;
    border: hidden;
    color: black;
	transition: .3s;
}

#incorrectPassword, #incorrectEmail, #incorrectUsername, #nonMatch, #noChanges, #matchesOldPass {
  display: none;
  color: #800000;
}

#invalidLogin {
  display: none;
  color: #800000;
  padding-bottom: 5px;
}

 #emptyUsrname, #emptyPass, #emptyEm, #emptyPass1, #emptyPass2, #takenUsrname, #takenEm {
  display: none;
  color: #800000;
  float: right;
  position: absolute;
  padding-left: 5px;
}

.registrationField {
    background: #566771;
    float: left;
    text-align: right;
}

.register{
    margin-top: 5%;
    padding-right: 10%;
}

.UItem1, .UItem2, .UItem3, .UItem4 {
    padding: 10px;
}

input::-webkit-input-placeholder{
    color:#999999;
}
input:-moz-placeholder {
    color:#999999;
}
#error{
    color: #d00013;
}
